p {
  font-size: 1rem;
  color: var(--color-offwhite);
}

/* ================ Upper ================= */
.page_title {
  position: relative;
  top: 7.1rem;
  height: auto;
  background: url("../images/background.jpeg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 7.1rem;
}

.image_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.contact-us_title {
  width: 100%;
  height: 100%;
}

.contact-us_title_body {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 3.3rem 0;
}

.contact-us_title_body .breadcrumbs a.link {
  color: var(--color-primary);
}

.breadcrumbs i {
  color: var(--color-white);
}

.contact-us_title_body p.breadcrumbs {
  font-size: 0.85rem;
  color: var(--color-offwhite);
  margin-bottom: 1.5rem;
}

.contact-us_title_body p.contact-us_heading {
  display: inline;
  width: 100%;
  color: rgba(11, 214, 221, 0.788);
  background-color: rgba(31, 222, 235, 0.11);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
}

.contact-us_title_body h2 {
  font-size: 2.6rem;
  line-height: 3.2rem;
  color: var(--color-white);
  margin-top: 1rem;
}

span.grad {
  position: relative;
  max-width: 6rem;
  height: 0.2rem;
  margin: 1rem 0;
  border-radius: 1rem;
}

span.grad::before {
  content: "";
  display: block; /* Make sure the pseudo-element is displayed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-border-gradient);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

/* ================== Contact Us Content ============== */
.contact-us {
  position: relative;
  height: auto;
  padding: 5rem 0;
}

.contact-us_details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.6rem;
}

.contact-us_details i {
  font-size: 2.5rem;
  color: var(--color-primary);
}

.contact-us_details h5 {
  margin: 1.5rem 0;
}

.phone_number {
  position: relative;
  background: linear-gradient(
    100deg,
    #2020207e,
    #23232481,
    #5a5a5a00,
    #2928287a,
    #1f1e1e77
  );
  border: 1px solid transparent;
  border-radius: 0.6rem;
  padding: 3rem;
  transition: var(--transition);
}

.phone_number::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 2rem solid aliceblue;
  border-top: 2rem solid var(--color-primary);
  border-right: 2rem solid var(--color-primary);
  border-bottom: 2rem solid transparent;
  border-left: 2rem solid transparent;
  border-top-right-radius: 0.6rem;
}

.phone_number:hover {
  border: 1px solid var(--color-primary);
}

.email_address {
  position: relative;
  background: linear-gradient(
    100deg,
    #2020207e,
    #23232481,
    #5a5a5a00,
    #2928287a,
    #1f1e1e77
  );
  border: 1px solid transparent;
  border-radius: 0.6rem;
  padding: 3rem;
  transition: box-shadow 0.3s ease, border 0.3s ease, border-radius 0.3s ease;
}

.email_address::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 2rem solid aliceblue;
  border-top: 2rem solid var(--color-primary);
  border-right: 2rem solid var(--color-primary);
  border-bottom: 2rem solid transparent;
  border-left: 2rem solid transparent;
  border-top-right-radius: 0.6rem;
}

.email_address:hover {
  border: 1px solid var(--color-primary);
}

.location {
  position: relative;
  background: linear-gradient(
    100deg,
    #2020207e,
    #23232481,
    #5a5a5a00,
    #2928287a,
    #1f1e1e77
  );
  border: 1px solid transparent;
  border-radius: 0.6rem;
  padding: 3rem;
  transition: var(--transition);
}

.location::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 2rem solid aliceblue;
  border-top: 2rem solid var(--color-primary);
  border-right: 2rem solid var(--color-primary);
  border-bottom: 2rem solid transparent;
  border-left: 2rem solid transparent;
  border-top-right-radius: 0.6rem;
}

.location:hover {
  border: 1px solid var(--color-primary);
}

/* ========= Contact Us Form =========== */
.contact-us_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.6rem;
  margin: 5rem 0;
}

.contact-us_form img {
  max-width: 100%;
  height: 73.5vh;
  border-radius: 0.6rem;
}

form {
  position: relative;
  background: linear-gradient(
    100deg,
    #2020207e,
    #23232481,
    #5a5a5a00,
    #2928287a,
    #1f1e1e77
  );
  border: 1px solid transparent;
  border-radius: 0.6rem;
  padding: 3rem;
  transition: var(--transition);
}

form::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 2rem solid aliceblue;
  border-top: 2rem solid var(--color-primary);
  border-right: 2rem solid var(--color-primary);
  border-bottom: 2rem solid transparent;
  border-left: 2rem solid transparent;
  border-top-right-radius: 0.6rem;
}

form .form_heading {
  display: inline;
  width: 100%;
  color: rgba(11, 214, 221, 0.788);
  background-color: rgba(31, 222, 235, 0.11);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
}

form h5 {
  margin: 1.5rem 0 0.3rem;
}

form .form_info {
  margin-top: 2rem;
}

form input,
textarea {
  width: 100%;
  font-size: 1rem;
  color: var(--color-white);
  padding: 0.6rem 0.2rem;
  border: none;
  border-bottom: 2px solid rgba(255, 253, 253, 0.4);
  outline: none;
  background: none;
  transition: var(--transition);
}

.input_control {
  margin-bottom: 2rem;
}

.input_control .error {
  color: #ff0000;
  font-size: 13px;
}

form input::placeholder {
  font-size: 1rem;
}

form input:focus {
  border-bottom: 2px solid var(--color-primary);
}

textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

textarea:focus {
  border-bottom: 2px solid var(--color-primary);
}

.btn_primary {
  font-size: 1.1rem;
}

/* ============ Device max width 1200px ================== */
@media screen and (max-width: 1200px) {
  /* ================ Upper ================= */
  .contact-us_title_body h2 {
    font-size: 2.5rem;
    line-height: 3.1rem;
  }

  /* ================== Contact Us Content ============== */
  .contact-us_details {
    gap: 2rem;
  }

  .phone_number {
    padding: 2.5rem;
  }

  .email_address {
    padding: 2.5rem;
  }

  .location {
    padding: 2.5rem;
  }

  /* ========= Contact Us Form =========== */
  .contact-us_form {
    gap: 2rem;
  }

  .btn_primary {
    font-size: 1rem;
    padding: 0.7rem 5rem;
  }
}

/* ============ Device max width 1024px ================== */
@media screen and (max-width: 1024px) {
  .container {
    max-width: var(--container-width-lg);
    margin: 0 auto;
  }

  /* ================ Upper ================= */
  .page_title {
    top: 0rem;
    height: auto;
    margin-bottom: 0rem;
  }

  .contact-us_title_body h2 {
    font-size: 2.5rem;
    line-height: 3.1rem;
  }

  /* ================== Contact Us Content ============== */
  .contact-us_details {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  /* ========= Contact Us Form =========== */
  .contact-us_form {
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .contact-us_form img {
    display: none;
  }
}

/* ============= Media Query for Tablet Device ================ */
@media screen and (max-width: 768px) {
  .container {
    max-width: var(--container-width-md);
    margin: 0 auto;
  }
}

/* ============= Media Query for Tablet Device ================ */
@media screen and (max-width: 600px) {
  p {
    font-size: 0.85rem;
  }

  .container {
    max-width: var(--container-width-sm);
    margin: 0 auto;
  }

  /* ================== Contact Us Content ============== */
  .contact-us_title_body h2 {
    font-size: 2.1rem;
    line-height: 2.5rem;
  }

  .contact-us_details {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  form {
    padding: 2.5rem 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .contact-us_title_body h2 {
    font-size: 1.55rem;
    line-height: 1.85rem;
  }
}
