p {
  font-size: 1rem;
  color: var(--color-offwhite);
}

/* ================== Login Form ============== */
.login_page {
  position: relative;
  top: 7.1rem;
  padding: 7.1rem 0;
  height: auto;
  margin-bottom: 7.1rem;
}

.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_body {
  max-width: 40rem;
}

.login_form {
  background: linear-gradient(
    100deg,
    #2020207e,
    #23232481,
    #5a5a5a00,
    #2928287a,
    #1f1e1e77
  );
  border-radius: 1.2rem;
  padding: 3rem;
  transition: var(--transition);
}

.login_form h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 3rem;
  background: linear-gradient(to right, #0017b1 0%, #00dae3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 0.6rem;
}

.login_form form input:not([type="checkbox"]) {
  width: 100%;
  font-size: 1rem;
  color: var(--color-white);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  border: none;
  outline: none;
  background: #2929294d;
  transition: var(--transition);
}

.login_form form input:nth-child(2) {
  margin-bottom: 1rem;
}

.remember_me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
}

.remember {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.remember label {
  font-size: 0.82rem;
  /* display: inline-block; */
}

.remember_me #checkbox {
  cursor: pointer;
}

.remember_me a {
  font-size: 0.82rem;
  background: linear-gradient(136.85deg, #ff37f2 -15.82%, #405aff 99.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #405aff;
}

.no_account p {
  font-size: 0.8rem;
}

.no_account p a {
  font-size: 0.9rem;
  color: var(--color-primary);
}
